<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>View Recipe</title>
</head>
<body>
    <div class="container col-10 my-3">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="me-2">Welcome, {{ user.first_name.title() }} {{ user.last_name.title() }}</h1>
            <form action="/users/logout" method="post">
                <a href="/recipes" class="btn btn-success">Home</a>
                <button type="submit" class="btn btn-secondary ms-2">Logout</button>
            </form>
        </div>
        <div class="d-flex justify-content-between gx-0">
            <div class="card col-5 bg-light p-2">
                <h1 class="text-primary">{{ recipe.name }}</h1>
                <p>Posted by: <span class="text-primary">{{ recipe.creator.first_name }}</span> </p>
                <p>Posted on: <span class="text-primary">{{ recipe.created_at }}</span></p>
                <p>Description: <span class="text-primary">{{ recipe.description }}</span></p>
                <p>Instructions: <span class="text-primary">{{ recipe.instructions }}</span></p>
                <p>Under 30 minutes? 
                    {% if recipe.long_cooking %}
                        <span class="text-primary">Yes</span>
                    {% else %}
                        <span class="text-primary">No</span>
                    {% endif %} 
                </p>
                <p>Date made: <span class="text-primary">{{ recipe.date_cooked.strftime('%b %d, %Y') }}</span></p>
            </div>
            <div class="card col-5 bg-light p-2">
                <h3 class="text-primary">{{ recipe.users_liked | length }} users liked ths recipe</h3>
                <div>
                    {% for user in recipe.users_liked %}
                        <h6 class="text-success">{{ user.first_name}} {{ user.last_name}}</h6>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>